@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --primary: 214 80% 40%;
  --primary-foreground: 0 0% 100%;

  --secondary: 358 85% 50%;
  --secondary-foreground: 0 0% 100%;

  --border: 214.3 31.8% 91.4%;

  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --primary: 214 80% 40%;
  --primary-foreground: 0 0% 100%;

  --secondary: 358 85% 50%;
  --secondary-foreground: 0 0% 100%;

  --border: 217.2 32.6% 17.5%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}